doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/style.css')
    body
        block content
        script(src='/javascripts/jquery-1.12.0.min.js')
        script(src='/javascripts/global.js')